.recuadro_pequeño {
    width: 60px;
    height: 60px;
    background-color: white;
    float: left;
    margin: 1px;
    text-align: center;
    font-size: 450%;
    padding-top: 0px;
}

.numericos {
    background-color: blue;
    width: 50px;
    height: 45px;
    margin: 4px;
    margin-right: 0;
    margin-bottom: 12px;
    font-size: 170%;
}

.caja_contenedora {
    height: 565px;
    width: 568px;
    position: relative;
    background-color: black;
    padding: 5px;
    padding-left: 8px;
    top: 2%;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.barra_contenedora {
    width: 100%;
    height: 61px;
    padding: 0;
    border: 0;
    margin-left: 0;
}

.tercero {
    margin-right: 4px;
}

.sexto {
    margin-bottom: 5px;
}

.relleno {
    float: left;
    width: 100%;
    height: 60px;
    font-size: 70%;
    background-color: white;
}

.minibotones {
    height: 45px;
}
