
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Paginaprincipal</title>
</head>
<body>
    <div>
        @RenderPage("~/Views/Shared/PanelGrande.cshtml")
    </div>
</body>
</html>
